.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.article-card-single {
    width: 20%;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007bff;
}

.article-author {
    color: #777;
}

.article-date {
    font-style: italic;
    color: #777;
}

.article-content {
    margin-top: 10px;
}